.banner-cardstack__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.banner-cardstack__container-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: flex-start;
  overflow-x: auto;
}
.banner-cardstack__container-list-item {
  padding: 20px 6px;
  cursor: pointer;
}
.banner-cardstack__container-list::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.banner-cardstack__container-list::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 2px;
}

.banner-cardstack__container-list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
@media screen and (max-width: 1024px) {
  .banner-cardstack__container-list-item {
    padding: 10px 8px 0 0;
  }

  .banner-cardstack__container-list-item-image {
    width: 332px;
    height: 154px;
  }
}
