* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SulSans";
  src: url("../static/fonts/SulSans-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "SulSans", "Helvetica", "sans-serif";
}

@media only screen and (max-width: 768px) {
  .header-mobile {
    display: flex;
  }
  .home-header {
    display: none;
  }
  .voucher-header-mobile {
    display: flex;
  }
  .voucher-header {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .header-mobile {
    display: none;
  }
  .home-header {
    display: block;
  }
  .voucher-header-mobile {
    display: none;
  }
  .voucher-header {
    display: block;
  }
}
