.carousel-categories {
  padding: 20px 30px;
  margin: 10px;
}
.carousel-categories__container {
  padding: 0px 40px;
  text-align: center;
  font-size: 14px;
  color: #717171;
  cursor: pointer;
  overflow-x: scroll;
}
.carousel-categories__container-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.carousel-categories__container-list-image {
  height: 80px;
  width: 90px;
}
@media screen and (max-width: 1024px) {
  .carousel-categories {
    padding: 0;
  }
  .carousel-categories__container {
    padding: 0px;
  }
  .carousel-categories__container-list-image {
    height: 60px;
    width: 70px;
  }
}
.carousel-categories__container::-webkit-scrollbar {
  display: none;
}
