.responsive-header{
  display: none;
  position: sticky;
  flex-direction: column;

}

.responsive-header__container {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #f7f7f7;
  margin: 0;

}

.responsive-header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.multi-categories-selector__label{
  padding: 0;
  margin: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border 200ms
}
.multi-categories-selector__background-colors-restaurant{
  width: 40px;
  height: 40px;
  background-color: #ea1d2c;
  border-radius: 100%;
  display: flex;
  align-items: center;
  margin-right: 12px;
  
}    
.multi-categories-selector__label-title {
  font-weight: bold;
  font-size: 18px;
  color: #717171;
  margin: 0;
}
.icon-marmita--arrow-down {
  width: 24px;
  height: 24px;
  transform: translateY(2px);
  margin: 0;
  color: #ea1d2c;
}

.search-container{
  max-width: 469px;
}

.search-input__form-wrapper{
  padding: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 5px 0 12px;
  border-radius: 8px;
  margin-right: 0;
  width: 100%;
  position: relative;
}

.img-search{
 left: 15px;
 width: 22px;
 height: 22px;
 position: absolute;
 transform: translateY(-50%);
 top: 50%;
 
}

.search-input-field{
min-width: 340px;
display: flex;
height: 48px;
padding-left: 50px;
padding-right: 0;
line-height: 1.25em;
font-weight: 300;
border-radius: 8px;
border: none;
}

.delivery-input-wrapper__title {
  font-size: 12px;
  height: 12px;
  color: #a6a5a5;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}