.responsive-header{
  display: none;
  position: sticky;
  flex-direction: column;
  width: 100vw;
  height: 80px;
  background-color: black
}

.responsive-header__container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.responsive-header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.multi-categories-selector__label-title {
  font-weight: bold;
  font-size: 18px;
  color: #717171;
  margin: 0;
}
.icon-marmita--arrow-down {
  width: 24px;
  height: 24px;
  transform: translateY(2px);
  margin: 0;
  color: #ea1d2c;
}

.img-search{
 width: 22px;
 height: 22px;
}

.search-input-field{
min-width: 469px;
display: flex;
height: 48px;
padding-left: 50px;
padding-right: 0;
line-height: 1.25em;
font-weight: 300;
border-radius: 8px;
}

.delivery-input-wrapper__title {
  font-size: 12px;
  height: 12px;
  color: #a6a5a5;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}