.last-restaurants {
  margin-top: 20px;
  width: 100%;
}
.last-restaurants__title-name {
  color: #3f3e3e;
  padding: 20px 0 20px 86px;
}
.last-restaurants__container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 90%;
  justify-content: flex-start;
  overflow-x: auto;
  margin: 0 auto;
}

.last-restaurants__container-content {
  display: flex;
  flex-direction: column;
}
.last-restaurants__container-content-image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  cursor: pointer;
}
.last-restaurants__container-content-name {
  color: #717171;
  font-size: 14px;
  padding-top: 6px;
  text-align: center;
}
.last-restaurants__container::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.last-restaurants__container::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 1px;
}

.last-restaurants__container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}
@media screen and (max-width: 1024px) {
  .last-restaurants__container {
    padding: 20px 0 20px 20px;
  }
  .last-restaurants__title-name {
    padding: 20px 0 20px 20px;
  }
  .last-restaurants__container-content-image {
    width: 70px;
    height: 70px;
  }
}
