.merchant-list {
}
.merchant-list__title {
  color: #3f3e3e;
  font-size: 12px;
  padding: 20px 0;
}
.merchant-list__content-first {
  display: flex;
  gap: 14px;
  align-items: center;
  padding-bottom: 20px;
}
.merchant-list__content-first-image-item {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  cursor: pointer;
}
.merchant-list__content-first-info-name {
  color: #3e3e3e;
  font-size: 14px;
  font-weight: 500;
  text-overflow: ellipsis;
}
.merchant-list__content-first-info-first-yellow {
  color: #fab125;
  font-size: 12px;
  font-weight: 700;
}
.merchant-list__content-first-info-first-dark {
  font-weight: 300;
  color: #717171;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}
.merchant-list__content-first-info-second-dark {
  font-weight: 300;
  color: #717171;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}
